/*---photography--->*/



* {
    margin: 0;
    padding: 0;


}

body {

    background-color:#f0f8ff;
    font-family: "ultra","cookie","lucliest guy";
    font-size: large;

    font-weight: lighter;
}

h1,h2 {
    text-align: center;
    font-weight:bold;
    color: #008080;
    font-size: 50px;
    margin:0;

}
h3 {
  
  text-transform: capitalize;
  text-indent: none;

}
.contain {
    width:900px;
    margin: 0 auto;
    padding: 30px 24px;
}

header nav {
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    line-height: 141px;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;

}

header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

p{

    font-style:italic;
    font-size: 20px;
    color: #bc8f8f ;
    text-align: center;
    padding: 20px 20px;
}

#kiranphoto {
    margin:20px 20px 20px;
    padding:20px;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 350px;



}

#ps  {
    font-size: 24px;

    color:white;
    background-color:#20b2aa;
    border-style: dotted;
    width: 530px;
    text-decoration: underline;
    text-decoration-color: #db7093;
    position: relative;
    left: 700px;
    bottom: 470px;
  }

#cw .table .tr .td {
  list-style-image: url('images/download.png');
}
#bridal-images {
  position: relative;
  bottom: 250px;
  text-align: center;



}

table {
border-spacing: 40px .50rem;
width: 200px;
grid-row:3;
    grid-column:3;
    letter-spacing: 3px;
  }

td {
padding-bottom: 20px;
padding-right: 70px;
padding-top: 10px;
height: 30px;


}
#ps tr {
  list-style-type: square;
}
footer.main {
    background: #008080;
    color: #f2f3ee;
}
#address {
    width: 240px;
    float: left;
    padding: 10px 0 10px 30px;
    font-size: 20px;
}

#rights {
    position: relative;
  left:550px;
  bottom: 100px;
    margin-top: 80px;



}
.clearfix:after {
visibility:hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook{
    background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #ea4c89;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
